.DS_Store
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

backend/.venv/
backend/.pytest_cache/

frontend/node_modules/
frontend/dist/

local/postgres-data/
local/localstack-data/
infra/.terraform/
infra/.terraform.lock.hcl
infra/*.tfstate
infra/*.tfstate.*
infra/terraform.tfvars
