project_name        = "prosperas-reports"
aws_region          = "us-east-1"
frontend_bucket_name = "prosperas-reports-frontend-prod"
db_password         = "replace-me"
jwt_secret_key      = "replace-me"
alb_certificate_arn = "arn:aws:acm:us-east-1:123456789012:certificate/replace-me"
